{% extends 'login/layout.html' %}
{% block title%} CUR {% endblock%}

{% block content%}
    <div class="container login-container">
        <h1>Авторизация</h1>
        <p>Please sign in</p>
        <form method="post">{% csrf_token %}
            <div class="form-floating">
                <input type="text"
                       name="{{ form.username.name }}"
                       class="form-control"
                       id="floatingInput"
                       placeholder="Login">
                <label for="floatingInput">Login</label>
            </div>
            <div class="form-floating">
                <input type="password"
                       name="{{ form.password.name }}"
                       class="form-control"
                       id="floatingPassword"
                       placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
            <span>{{ error }}</span>
        </form>
        <a class="btn btn-outline-secondary btn-sm" href="{% url 'reg' %}">Sign up</a>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2023</p>
    </div>
{% endblock%}
