html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Museo Slab', sans-serif;
    background-color: #bfd7ea;
}

.login-container {
    padding-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 20em;
    text-align: center;
}

.login-container button, a, img {
    margin-top: 15px;
}

.reg-container {
    padding-top: 7%;
    margin-left: auto;
    margin-right: auto;
    width: 25em;
}

.reg-container button, a {
    margin-top: 15px;
}

.reg-container button, p, h1 {
    text-align: center;
}

.role img {
    width: 75px;
    height: 75px;
    float: left;
    margin: 9px 9px 9px 0;
}

.acc-container img {
    width: 50%;
    height: 50%;
}