{% extends 'login/layout.html' %}
{% block title%} NEWS {% endblock%}
{% load static %}

{% block content%}
    <div class="container acc-container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <img src="{% static 'img/Logotip.png' %}">
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
                <li><a href="{% url 'create' %}" class="nav-link px-2">Create portfolio</a></li>
                <li><a href="#" class="nav-link px-2">News</a></li>
            </ul>
            <div class="col-md-3 text-end">
                <a>{{ request.user }}</a>
            </div>
            <div class="col-md-3 text-end">
                <a href="exit" class="btn btn-outline-primary me-2">Exit</a>
            </div>
        </header>
    </div>
    <div class="container portfolios">
        {% for port in portfolio %}
            <a href="{% url 'portfolio' pk=port.portfolio.id %}">
                <div class="alert alert-warning">
                    <p>portf name:{{ port.portfolio.name }}</p>
                    <p>portf desc:{{ port.portfolio.description }}</p>
                    <p>Цена: {{ port.statistic.price }}$</p>
                    <p>Изменение за сутки: {{ port.statistic.change_24h }}%</p>
                    <p>Изменение за неделю: {{ port.statistic.change_7d }}%</p>
                </div>
            </a>
        {% endfor %}
        <a href="{% url 'create' %}" class="w-100 btn btn-lg btn-primary" type="submit">Create your portfolio</a>
    </div>
    <div class="d-flex flex-column flex-md-row p-4 gap-4 align-items-center justify-content-center">
        <div class="list-group">
            {% for new in news %}
                <a href="{{ new.href }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <img src={{ new.picture }} alt="twbs" width="32" height="32"
                         class="rounded-circle flex-shrink-0">
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">{{ new.title }}</h5>
                            <p class="mb-0 opacity-75">{{ new.description }}</p>
                        </div>
                        <small class="opacity-50 text-nowrap">{{ new.time }}</small>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock%}
