{% extends 'login/layout.html' %}
{% block title%} NEWS {% endblock%}
{% load static %}

{% block content %}
    <div class="container acc-container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <div class="col-md-3 mb-2 mb-md-0">
                <img src="{% static 'img/Logotip.png' %}">
            </div>
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'home' %}" class="nav-link px-2">Home</a></li>
                <li><a href="{% url 'create' %}" class="nav-link px-2">Create portfolio</a></li>
                <li><a href="#" class="nav-link px-2">News</a></li>
            </ul>
            <div class="col-md-3 text-end">
                <a href="#" class="btn btn-outline-primary me-2">Exit</a>
            </div>
        </header>
    </div>
    <div class="portfolio" style="display: flex">
        <div class="container portfolios">
            <div class="alert alert-warning">
                <p>Name: {{ portfolio.name }}</p>
                <p>Description: {{ portfolio.description }}</p>
                <p>Owner: {{ portfolio.owner }}</p>
                <p>Total cost: {{ statistic.price }}$</p>
                <p>Total 24h %: {{ statistic.change_24h }}%</p>
                <p>Total 7d %: {{ statistic.change_7d }}%</p>
            </div>
            <a href="{% url 'transaction' pk=portfolio.id %}" class="w-100 btn btn-lg btn-primary">Make a
                transaction</a>
            <a href="{% url 'create' %}" class="w-100 btn btn-lg btn-outline-secondary" type="submit">Create</a>
        </div>

        <div class="container" style="padding-top: 2.4em;">
            <table class="table table-info" style="vertical-align: middle; text-align: right">
                <thead>
                <tr>
                    <th scope="col" style="text-align: center">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Avg Buy Price</th>
                    <th scope="col">Price</th>
                    <th scope="col">Assets</th>
                    <th scope="col">24h %</th>
                    <th scope="col">7d %</th>
                    <th scope="col">30d %</th>
                    <th scope="col" style="text-align: center">Profit</th>
                </tr>
                </thead>
                <tbody>
                {% for coin in coins %}
                    <tr>
                        <th scope="row" style="text-align: left">
                            <img src={{ coin.image_url }} width="25" height="25"
                                 style="margin-top: 0px; margin-right: 15px;">
                            {{ coin.name }}
                        </th>
                        <td>{{ coin.amount }}</td>
                        <td>{{ coin.avgBuyPrice }}$</td>
                        <td>{{ coin.price }}$</td>
                        <td>{{ coin.assets }}$</td>
                        <td id="check">{{ coin.change_24h }}%</td>
                        <td id="check">{{ coin.change_7d }}%</td>
                        <td id="check">{{ coin.change_30d }}%</td>
                        <td id="check" style="text-align: center">{{ coin.profit }}$</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script>
        [...document.querySelectorAll('td')].filter(e => e.id === "check").forEach((s, i) => {
            const value = parseFloat(s.innerHTML.replace(',', '.'));
            if (value > 0) {
                s.style.color = 'green';
            } else if (value < 0) {
                s.style.color = 'red';
            } else {
                s.style.color = 'black';
            }
        })
    </script>
{% endblock %}
