{% extends 'login/layout.html' %}
{% block title%} NEWS {% endblock%}

{% block content%}
    <h1>portf name:{{ portfolio.name }}</h1>
    <p>portf descr:{{ portfolio.description }}</p>
    <p>portf owner:{{ portfolio.owner }}</p>
    <table>
          <tr>
            <td>Общая стоимость</td>
            <td>Изменение за сутки</td>
            <td>Изменение за неделю</td>
          </tr>
        <tr>
        <td>{{ statistic.price }}$</td>
        <td>{{ statistic.change_24h }}%</td>
        <td>{{ statistic.change_7d }}%</td>
       </tr>
    </table>
    <a href="{% url 'transaction' pk=portfolio.id %}">Сделать транзакцию</a>
    <table>
      <tr>
        <td>Имя</td>
        <td>Количество</td>
        <td>Ср цена покупки</td>
        <td>Цена</td>
        <td>Активы</td>
        <td>Изменение за сутки</td>
        <td>Изменение за неделю</td>
        <td>Изменение за месяц</td>
        <td>Выгода</td>
      </tr>
      {% for coin in coins %}
      <tr>
        <td> <img src={{ coin.image_url }}> {{ coin.name }}</td>
        <td>{{ coin.amount }}</td>
        <td>{{ coin.avgBuyPrice }}$</td>
        <td>{{ coin.price }}$</td>
        <td>{{ coin.assets }}$</td>
        <td>{{ coin.change_24h }}%</td>
        <td>{{ coin.change_7d }}%</td>
        <td>{{ coin.change_30d }}%</td>
        <td>{{ coin.profit }}$</td>
       </tr>
      {% endfor %}
    </table>
{% endblock%}
